form{ 'method' => 'POST', 'action' => '.' }
	.form-group
		label Say what ever:
		input.form-control{ 'type' => 'text', 'name' => 'text' }
	button.btn.btn-default{ 'type' => 'submit' } POST IT

h2 Your posts:

ul#posts